<!DOCTYPE html>

<html ng-app="tutorialNave" ng-controller="TutorialController">
  <head>

    <!-- Bootstrap -->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="js/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="js/bootstrap-3.3.2-dist/css/bootstrap.min.css" type="text/css" media="screen" />
    <!-- /Bootstrap -->

    <meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="tutorial-handler.js"></script>
    <link rel="stylesheet" href="css.css" type="text/css" media="screen" />
    <title>({{version.current+1}}) {{version.frames[version.current].title}}</title>
  </head>

  <body>
    <!-- header -->
    <nav>
      <ul class="pager">

        <li class="previous"><a ng-click="version.stepTo(version.current-1)">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
            </span>
        </a></li>

        <li><a>
            <span class="badge">{{version.current+1}}</span>
            {{version.frames[version.current].title}}
        </a></li>

        <li class="next"><a ng-click="version.stepTo(version.current+1)">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">
            </span>
        </a></li>

      </ul>
    </nav>
    <!-- /header -->

    <div data-ng-include="(version.current+1) + '/readme.html'"></div>

    <!-- footer -->
    <div class="footer navbar navbar-default navbar-static-bottom">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <p class="navbar-text"><span class="glyphicon glyphicon-gift"></span> Compártelo tú también!</p>
          <li><a ng-href="{{version.directory}}/index.html">
              <code>{{version.directory}}/index.html</code>
          </a></li>
          <li><a ng-href="{{(version.directory)}}/game.js">
              <code>{{version.directory}}/game.js</code>
          </a></li>
        </ul>
      </div>
    </div>
    <!-- /footer -->
  </body>
</html>
