:root {
    --accent: #35c034;
    --background: #3d307f;
    --subtle: #00cbb1;
    --strong-accent: #ff7cf275;
    --shadow: #ff00ea82;
    --tags: rgb(48 0 255 / 63%);
    --aberration-offset: 1px;
    --aberration-offset-negative: -1px;
}

.right-image-post, .left-image-post {
    background: rgba(0,0,0, 0.6);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    position: relative;

    /* NEON GLOW EFFECT that Claude helped me implement!! :DDDD */
    box-shadow:
        -5px 0 2px var(--shadow),
        5px 0 3px #06f,
        -2px 5px 1px var(--accent),
        2px -2px 1px #0ff;
}

.left-image-post:before, .right-image-post:before {
    content: '';
    position: absolute;
    top: var(--aberration-offset-negative);
    left: var(--aberration-offset-negative);
    right: var(--aberration-offset);
    bottom: var(--aberration-offset);
    border: 2px solid #ff000066;
    border-radius: 10px;
    pointer-events: none;
}

.left-image-post:after, .right-image-post:after {
    content: '';
    position: absolute;
    top: var(--aberration-offset);
    left: var(--aberration-offset);
    right: var(--aberration-offset-negative);
    bottom: var(--aberration-offset-negative);
    border: 2px solid #0066ff66;
    border-radius: 10px;
    pointer-events: none;
}

.right-image, .left-image {
    filter: drop-shadow(-10px 10px var(--shadow));
}

.right-image {
    filter: drop-shadow(10px 10px 0px var(--shadow));
}

.clipped-image-info {
    width: 100%;
    height: 100%;
    clip-path: inset(0 0 0 0 round 10px);
    position: relative;
    display: inline-block;
}

.clipped-image-info span {
    position: absolute;
    background-color: var(--tags);
    padding: 10px;
}

.right-image .clipped-image-info .dev-span {
    left: -30px;
    top: -20px;
    padding-top: 30px;
    padding-left: 40px;
    border-bottom-right-radius: 10px;
}

.right-image .clipped-image-info .year {
    right: -30px;
    bottom: -20px;
    padding-bottom: 30px;
    padding-right: 40px;
    border-top-left-radius: 10px;
}

.left-image .clipped-image-info .year {
    left: -30px;
    bottom: -20px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-top-right-radius: 10px;
}

.left-image .clipped-image-info .dev-span {
    right: -30px;
    top: -20px;
    padding-top: 30px;
    padding-right: 40px;
    border-bottom-left-radius: 10px;
}

.menu {
    filter: drop-shadow(-15px 0px var(--shadow));
    /* filter: drop-shadow(15px, 0, black) !important; */
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (h / w * 100) */
}

.youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
