body {
    font-family: sans;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: #eee;
}

.game {
    padding: 1em;
    margin: 1em;
    background-color: #fff;
    border-radius: 1em;
}

.game-title {
    font-family: serif;
    font-size: 2em;
    font-weight: 900;
}