body {
    font-family: sans;
    color : white;
    margin : 1em;
    background-color : black
}

a {
    color: #ff8;
}

a:visited {
    color: #8f8;
}

.sauce {
    margin : .5em;
    padding : 1em;
    background-color: #111;
}

.js {
    font-family: mono;
}