body {
    background-color: black;
    color: green;
}

.centered {
    text-align: center;
    font-family: sans;
}

.title {
    font-size: 30px;
}

.container {
    padding: 0;
    line-height: 0.7em;
    margin: 0;
    font-family: mono;
    overflow: auto;
    font-size: 30px;
}
.star {
    color: yellow;
}

.light {
    color: red;
}

.tree {
    color: green;
}