body {
    background-color: black;
    color: green;
}

.centered {
    text-align: center;
    font-family: sans;
}

.title {
    font-size: 30px;
}

.container {
    padding: 0;
    line-height: 0.7em;
    margin: 0;
    font-family: mono;
    overflow: auto;
    font-size: 5vh;
    height: 100vh;
}
.star {
    line-height: 0.8em;
    color: yellow;
    font-size: 10vh;
    bottom: -25px;
    position: relative;
    overflow: scrollbar;
}

.light {
    color: red;
}

.tree {
    color: green;
}